<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Projects</h2>
                <p>Please take a minute to browse some of my creations.</p>
            </div>

            <!--<div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>-->
            <!--Green Thumb Academy Project-->
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/FED1 Project.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Green Thumb Academy</h4>
                            <p>HTML and CSS site from scratch</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/FED1 Project.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Green Thumb Academy"><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Project Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <a href="http://greenthumbacademy.jacobwoodworth.com" target="_blank" title="Green Thumb Academy Site"><i class="bx bx-link"></i></a>
                                <a href="https://github.com/Jwoodworth515/FED1StudioProject" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--The Music Pit Project-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/Dungeon Application Project.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>The Music Pit</h4>
                            <p>C# Designed Dungeon Crawler</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/Dungeon Application Project.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="The Music Pit"><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails2","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Project Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <!--<a href="" title="Dungeon Application Game"><i class="bx bx-link"></i></a>-->
                                <a href="https://github.com/Jwoodworth515/DungeonApp" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Personal Site Project-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/PersonalSite.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Personal Site</h4>
                            <p>HTML, CSS, JavaScript, jQuery, jQueryUI, Bootstrap, MVC Designed Personal Site</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/PersonalSite.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Personal Site"><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails3","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <a href="Http://www.jacobwoodworth.com" target="_blank" title="Personal Site"><i class="bx bx-link"></i></a>
                                <a href="https://github.com/Jwoodworth515/PSv2" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--B# Guitar Shop Project-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/StoreFront.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>B# Guitar Shop</h4>
                            <p>This is an example of a Full Stack Two Tier MVC e-commerce design and build with HTML5, CSS3, C#, ASP.Net JavaScript, jQuery, SQL, XML, Bootstrap, and AJAX.</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/StoreFront.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="B# Guitar Shop"><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails4","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <a href="http://www.bsharpguitarshop.jacobwoodworth.com" target="_blank" title="B# Guitar Shop"><i class="bx bx-link"></i></a>
                                <a href="https://github.com/Jwoodworth515/StoreFrontV3" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Euler Fibonacci Even Sum Challenge-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/FibEvenSum.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Fibonacci Even Sum Challenge</h4>
                            <p>These are challenges borrowed from Project Euler and are an example of complex problem-solving using C# methodology and mathematics.</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/FibEvenSum.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails5","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <!--<a href="" title=""><i class="bx bx-link"></i></a>-->
                                <a href="https://github.com/Jwoodworth515/ARTPHomework/blob/master/FibonacciEvenSum/Program.cs" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project Euler Multiples of 3 and 5 Challenge-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/Multiples3And5.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Multiples 3 and 5</h4>
                            <p>These are challenges borrowed from Project Euler and are an example of complex problem-solving using C# methodology and mathematics.</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/Multiples3And5.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails6","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <!--<a href="" title=""><i class="bx bx-link"></i></a>-->
                                <a href="https://github.com/Jwoodworth515/ARTPHomework/blob/master/Multiples3And5/Program.cs" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Upsidedown University-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/PMDProject.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Upsidedown University</h4>
                            <p>This is an example of a Pair Programming Full Stack Web Application using HTML5, CSS3, JavaScript, C#, ASP.Net, MVC, Entity Frameworks, SQL, Identity Samples, jQuery / jQuery DataTables, Bootstrap, Debugging, Pair Programming, and Trello.</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/PMDProject.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails7","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <a href="http://upsidedownuniversity.jacobwoodworth.com/" target="_blank" title=""><i class="bx bx-link"></i></a>
                                <a href="https://github.com/Jwoodworth515/SchedulingAdminTool" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--FrenchTown Studios-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/FSDProject.JPG" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>FrenchTown Studios</h4>
                            <p>This is the Final Project that I completed during the Centriq Training 4-month boot camp.  It is an example of a Full Stack Web Application using HTML5, CSS3, JavaScript, C#, ASP.Net, MVC, Entity Frameworks, SQL, Identity Samples, jQuery / jQuery DataTables, Bootstrap, Debugging, Responsive/Mobile Web Development, Database Build, and a Trello board.</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/FSDProject.JPG" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails8","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <a href="http://frenchtownstudios.jacobwoodworth.com/" target="_blank" title="Frenchtown Studios Link"><i class="bx bx-link"></i></a>
                                <a href="https://github.com/Jwoodworth515/FrenchTownStudiosV2" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                @*<!--Project 9-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/ComingSoon.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Project 9</h4>
                            <p>Coming Soon</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/ComingSoon.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails9","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <!--<a href="" title=""><i class="bx bx-link"></i></a>-->
                                <!--<a href="" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--Project 10-->
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/Content/img/portfolio/ComingSoon.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Project 10</h4>
                            <p>Coming Soon</p>
                            <div class="portfolio-links">
                                <a href="~/Content/img/portfolio/ComingSoon.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title=""><i class="bx bx-plus"></i></a>
                                <a href="@Url.Action("ProjectDetails10","Home")" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bi-file-arrow-up-fill"></i></a>
                                <!--<a href="" title=""><i class="bx bx-link"></i></a>-->
                                <!--<a href="" target="_blank" title="Github Link"><i class="bi bi-github"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>*@

            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->